{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST" action="{{ url_for('auth.login') }}">
  <h3 align="center">Innskráning</h3>
  <div class="form-group">
    <label for="email">Netfang</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Skrifaðu netfang"
    />
  </div>

  <div class="form-group">
    <label for="password">Lykilorð</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Skrifaðu lykilorð"
    />
  </div>
  <br />
  <!-- Link to sign-up route -->
  <p style="text-align: right">
    <a href="{{ url_for('auth.sign_up') }}">Stofna aðgang</a>
  </p>
  <button type="submit" class="btn btn-primary">Skrá inn</button>
</form>
{% endblock %}
